
/*Line spacing of text*/
#content,#content2,#content3{
    line-height: 260%;
}

.navbar {
    background-color: #324754;
}

/* Side Bar Stuff */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.section {
    position: relative;
}

/*Places next chapter button at bottom of text*/
.fixed-bottom {
    position: center;
}

blockquote,
div,
h1 {
    text-align: center;
}
blockquote {
    font-size: 1.2rem;
}
html {
    font-size: 16pt;
    font-family: crimson text;
}
#play {
	background-image: url(play.svg);
    border: none;
    cursor: pointer;
    height: 48px;
    outline: none;
    padding: 0;
    width: 48px;
}
#play.played {
	background-image: url(play1.svg);
    border: none;
    cursor: pointer;
    height: 48px;
    outline: none;
    padding: 0;
    width: 48px;
}
#pause {
	background-image: url(pause.svg);
    border: none;
    cursor: pointer;
    height: 48px;
    outline: none;
    padding: 0;
    width: 48px;
}
#pause.paused {
	background-image: url(pause1.svg);
    border: none;
    cursor: pointer;
    height: 48px;
    outline: none;
    padding: 0;
    width: 48px;
}
#stop {
    background-image: url(stop.svg);
    border: none;
    cursor: pointer;
    height: 48px;
    outline: none;
    padding: 0;
    width: 48px;

}
#stop.stopped {
    background-image: url(stop1.svg);
    border: none;
    cursor: pointer;
    height: 48px;
    outline: none;
    padding: 0;
    width: 48px;
}

@media (max-width: 700px) {
    html {
        font-size: 14pt;
    }
    article {
        width: 90%;
    }
}
